<div class="dashboard-container">
  <div class="user-info">
    <%# <% if current_user.profile.present? %>
      <%# <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> %>
    <%# <% else %>
    <p class="user-name"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
    <h2>My Reservations</h2>
    <% if current_user.reservations.count > 0 %>
      <% current_user.reservations.order(:date).each do |reservation| %>
        <%= render 'reservation_card', reservation: reservation %>
      <% end %>
      <% else %>
      <p>No reservations yet.</p>
    <% end %>
  </div>
</div>
