<div class="dashboard-container">
  <div class="user-info">
    <%# <% if current_user.profile.present? %>
      <%# <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> %>
    <%# <% else %>
    <p><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
    <%# <p><%= link_to %></p>
    <%# <% end %>
  </div>
</div>
