<div class="dashboard-container">
  <div class="user-info">
    <div class="intro-dashboard">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, class: "avatar"%>
    <% end%>
    <p class="user-name"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
    </div>
    <h2>My Reservations</h2>
    <% if current_user.reservations.count > 0 %>
      <div class="user-reservations">
        <% current_user.reservations.order(:date).each do |reservation| %>
          <%= render 'reservation_card', reservation: reservation %>
        <% end %>
      </div>
    <% else %>
      <p>No reservations yet.</p>
    <% end %>
  </div>
</div>
