.index-heading {
  margin: 8px 0 24px;
}

.index-search-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px;
  .index-filter-btn {
    background-color: white;
    padding: 4px 16px;
    color: $dark-brown;
    border-radius: 8px;
    box-shadow: 1px 1px 4px hsla(23, 49%, 8%, .5);
  }
}
.card-tag {
  background-color: hsla(185, 77%, 44%, .9);
  color: white;
  border-radius: 50%;
  padding: 8px;
}

#index-tabset {
  margin-top: 60px;
  label {
    width: 49%;
    text-align: center;
    color: $beige;
    border-radius: 8px 8px 0 0;
  }
}
#index-tabset > input:checked + label {
  background-color: $beige;
  color: white;
}
.card-link {
  text-decoration: none;
  margin: 0;
}

.dropdown-filters{
  float: right;
  background-color: $light;
  border: none;
  border-radius: 8px;
  i {
    color: $beige;
    font-size: 20px;
  }
  &:active, &:focus, &:checked{
    // #background-color: $beige;
    box-shadow: none !important;
    background-color: $light;
    i{
      color: $dark-brown;
    }
  }
}
.btn-secondary.dropdown-toggle{
  box-shadow: none;
}
.dropdown-menu.show{
  border-radius: 8px;
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  background-color: $light;
  box-shadow: none !important;
  color: $dark-brown;
}
.apply-filters{
  margin-top: 10px;
  border-radius: 8px;
  border-width: 1px;
}
.dropdown-item{
  background-color: transparent !important;
}

.tag-dropdown label{
  width: 100%;
  text-align: center;
  background-color: $light;
  border-radius: 8px;
}
