.user-info {
  .user-name {
    font-size: 36px;
    color: $black;
  }
}
.intro-dashboard {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  .user-name{
    margin-top: 10px;
    color: $dark-gray;
    font-size: 25px;
  }
}
.avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.dashboard-reservation-card {
  p {
    margin-bottom: 0;
  }
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 16px 0;
  .dashboard-reservation-date {
    color: $beige;
    text-align: center;
    .dashboard-reservation-date-day {
      font-size: 32px;
    }
    width:20%;
    font-weight: 600;
  }
  .dashboard-reservation-card-inner {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: 1px 1px 4px hsla(0, 0%, 0%, .5);
    .dashboard-reservation-cafe {
      font-size: 16px;
      color: $dark-brown;
      text-align: left;
    }
    .dashboard-reservation-time {
      color: $beige;
      text-align: left;
    }
    .image-cropper {
      width: 56px;
      height: 56px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }
    img {
      display: inline;
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }
  .dashboard-btns, a.reservation-cancel-link {
    display: none;
  }
}

.dashboard-reservation-card-inner.card-opened {
  height: 140px;
  align-items: flex-start;
  position: relative;
  .image-cropper {
    width: 88px;
    height: 88px;
    border-radius: 8px;
    margin-top: 8px;
  }
  .dashboard-btns {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    i {
      background-color: $beige;
      padding: 8px;
      font-size: 24px;
      color: white;
      border-radius: 8px;
    }
  }
  a.reservation-cancel-link {
    display: block;
    position: absolute;
    bottom: 8px;
    color: $beige;
    text-decoration: underline;
  }
}
