
.error-action {
  margin: 20px 0;
  font-family: $body-font;
}
.cafes {
  margin-top: 20px;
}

.error-image {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;

}

.error-message h1 {
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: -15px;
}
