// Specific CSS for your home-page
.form-container {
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
}

.introduction p {
  font-size: 12px;
}

.form-control {
  width: 100%;
  border-radius: 10px;
  font-size: 12px;
  margin: 0 auto;
}

.button-container {
  // text-align: center;
  margin: 16px 0;
}

.home-search {
  background-color: $green-blue;
  color: white;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 0;
  border: none;
  p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 6px 12px;
  }
}
