// Specific CSS for your home-page
.form-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
}

.introduction {
  margin-bottom: 16px;
  h3 {
    margin-top: 20px;
  }
  p {
  // font-size: 14px;
  color: #828282;
  }
}

.form-control {
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  margin: 0 auto;
}


.button-container {
  text-align: center;
  margin: 16px 0;
}

.home-search {
  background-color: $green-blue;
  color: white;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 0;
  border: none;
  p {
    // font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 6px 12px;
  }
}

.card-block {
    max-height: 250px;
    min-width: 250px;
    margin-right: 5px;
    padding: 16px;
    border-radius: 8px;
    background: $beige;
    opacity: .9;
    box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
    padding-bottom: 0px;
    p {
      color: #7B4B28;
      font-size: 14px;
      margin: 15px 0px;
      font-weight: bolder;

    }
    img {
      width: 80%;
      height: 80%;
      margin: 0 auto;
    }
}

.location-search {
  color: $green-blue;
  text-decoration: none;
  font-weight: bolder;
  border-style: none;
  background: none;
  margin-top: 6px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  text-align: start;
  i {
    font-size: 12px;
  }
}
