<div class="message-container">
  <div class="error-message">
    <h1 class="error-title">500</h1>
    <h2>error</h2>
  </div>

  <h2>Sorry, our server couldn't be reached. Please refresh again later.</h2>
  <%= image_tag "undraw_coffee_break_j-3-of.svg", alt: "image page not found", class: "error-image" %>

</div>
