<div class="message-container">
  <h1 class="error-title">404</h1>
  <h2>Sorry, this page couldn't be found</h2>

  <%= link_to 'See all cafes here!', cafes_path, class: "btn book-btn cafes" %>

  <%= image_tag "undraw_working_remotely.svg", alt: "image page not found", class: "error-image" %>

</div>
