<div class="card-cafe" style="background: url(https://images.unsplash.com/photo-1614542307025-2f5eaaef28f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80); background-size: contain;">
  <div class="card-cafe-top">
    <p><i class="fas fa-shoe-prints"></i> 700 m</p>
    <h3><%= cafe.name %></h3>
  </div>
  <div class="card-cafe-bottom">
    <p class="card-tags"><i class="fas fa-leaf"></i> <i class="fas fa-dog"></i></p>
    <p><i class="far fa-clock"></i> <%= cafe.opening_hour %>:00 - <%= cafe.closing_hour %>:00</p>
  </div>
</div>
