<h2 class="text-center">Search Results</h2>
<div class="index-search-filter-container">
  <div class="index-search-bar"></div>
  <div class="index-filter-btn"><i class="fas fa-filter filter-tag"></i> Filter</div>
</div>
<% @cafes.each do |cafe| %>
  <%= render 'card', cafe: cafe %>
<% end %>
