
.sign-form {
  background-color: white;
  width: 90%;
  margin: 40px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 1px 1px 4px hsla(0, 0%, 0%, .5);
  text-align: center;
  text-decoration: none;
}

.sign-form p {
  color: $dark-gray;
}

.form-heading {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

.remember-box{
 text-align: left;
}

.form-submit-btn {
  text-decoration: none;
  width: 100%;
  background: $green-blue;
  border-radius: 16px;
  transition: .3s;
  font-weight: 700;
  color: $light;
}

.btn-text {
  color: $light;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: $green-blue;
  border: 1px solid $green-blue;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $green-blue;
  color: white;
}
