// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form";
@import "index_card";
@import "show";
@import "map";
@import "reservation";

body {
  background-color: $light;
  text-align: center;
  a {
    color: $green-blue;
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-brown;
}
