.index-map {
  margin: 0 0 16px 0;
  border-radius: 8px;
}

.mapboxgl-popup {
  border-radius: 16px;
  min-height: 60px;
  min-width: 100px;
  margin: 0;
  padding: 0px;
}

.mapboxgl-popup-content {
  border-radius: 8px !important;
  background-color: white;
  text-align: center;
  font-size: 12px;
  margin-bottom: 0px;
  padding: 16px !important;
  a p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  h4{
    margin-top: 10px;
    font-size: 20px;
  }
}
.mapboxgl-popup-close-button {
  font-size: 25px;
  color: $dark-brown;
}


.popup-link {
  outline: transparent !important;
  padding: 0px;
}

.open-hours {
  padding-bottom: 0px;
}
