.index-map {
  margin: 16px 0;
  border-radius: 8px;
}

.mapboxgl-popup {
  border-radius: 8px;
  line-height: 2px;
  border-style: none;
  min-height: 100px;
  min-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.popup-link {
  text-decoration: none;
  margin: 0;
}
