.navbar-lewagon {
  justify-content: space-between;
  background: $light;
  padding: 0 0 20px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  border-radius: 8px;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: baseline;
  i {
    color: $dark-brown;
    font-size: 30px;
  }
}

.navbar-lewagon .navbar-brand img {
  max-width: 24px;
}


.my-dropdown {
  display: inline-block;
  position: relative;
  border: none;
  padding: 4px 0 4px 12px;
  &:focus {
    box-shadow: none;
  }
}

.dropdown-content {
  background-color: white;
  text-align: left;
  color: $dark-brown;
  padding-left: 10px;
  margin-left: 60%;
  margin-top: 10px;
  width: fit-content;
  border-radius: 12px;
  li {
    margin-right: 0;
  }
}
