.navbar-lewagon {
  justify-content: space-between;
  background: $light;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon i {
  color: $dark-brown;
  font-size: 24px;
  margin-left: 10px;
}
