.home-search-fields {
  display: flex;
  justify-content: space-between;
  .location {
    width: 55%;
    input {
      width: 100%;
      height: 2.5em;
      border: 3px solid hsla(185, 77%, 44%, .5);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-right: none;
      padding-left: 8px;
      color: $dark-gray;
      &:focus {
        border: none;
      }
    }
  }
  .date-picker {
    width: 45%;
    input {
      width: 100%;
      height: 2.5em;
      text-align: center;
      border: 3px solid hsla(185, 77%, 44%, .5);
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-left: 1px solid hsla(185, 77%, 44%, .3);
      color: $dark-gray;
      &:focus {
        border: none;
      }
    }
  }
}

.flatpickr-day.selected {
  background: $green-blue !important;
}

@media (min-width: 768px) {
  .home-search-fields {
    .location input {
      border: none;
    }
    .date-picker input {
      border: none;
      border-left: 1px solid hsla(185, 77%, 44%, .3);
    }
  }
}
