/*
CSS for the main interaction
*/
.show-images {
  position: relative;
}
.show-images .back-button .back {
  color: rgba($color: #FFFFFF, $alpha: 0.8);
  font-size: 28px;
  z-index: 1;
  /* text-align: left; */
  left: 3%;
  position: absolute;
  top: 5%;
}

.show-images img {
  object-fit: cover;
  width:100%;
  height: 250px;
  border-radius: 8px;
}

.show-images .favorite {
  font-size: 28px;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  right: 5%;
  font-weight: bolder;
}

.favorited {
  font-weight: bold !important;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  color: #333;
  font-weight: 300;
}
.cafe-name{
  margin-top: 24px;
  margin-bottom: 20px;
}

.tabset {
  margin-top: 10px;
}

.tabset > label {
  padding: 4px 0;
  width: 23%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: $beige;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #DFB99D;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background:#DFB99D;
}

.tabset > input:checked + label {
  background-color: #DFB99D;
  color: white;
}

.tab-panel {
  padding: 16px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

body {
  padding: 30px;
}

.tabset {
  max-width: 65em;
}
.d-flex p {
  margin-left: 10px;
  font-size: 12px;
}

.show-page-img {
  width: 100%;
  height: 250px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.modal-position {
  position: absolute;
  top: 20%;
}
.my-modal-dialog {
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: $light;
}
.my-modal-title {
  font-family: 'Poppins', sans-serif;
  padding: 0 32px;
}
.my-modal-content {
  border-radius: inherit;
}
.my-close-btn {
  background: $beige;
  color: white;
  border: none;
  font-size: 24px;
  padding: 0 16px;
  border-radius: 8px;
}

.tags-ul {
  padding-left: 0;
}
.caroussel-img {
  border-radius: 8px;
}

.tab-panel p {
  text-align: justify;
}

.book-btn {
  background-color: #4DB8C7;
  color:white;
  border-color: #4DB8C7;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  position:sticky;
  bottom: 15px;
  text-align: center;
  border-radius: 10px;
  &:active {
    color: white;
    transform: scale(1.02)
  }
  &:focus {
    color: white;
  }
}


.no-menu {
  object-fit: cover;
  width:50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.menu {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
}
